*{
    margin: 0;
    padding:0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Roboto,Segeo UI,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    text-decoration:none;
}
header{
    display : flex;
    background-color: white;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #eeeeee;

}
.myntra_home {
    height : 45px;
    
}
.logo_container {
    margin-left: 4%;
}
.action_bar{
    margin-right: 4%;
}
.nav_bar{
    display : flex;
    min-width: 500px;
    justify-content: space-evenly;
   
}
.nav_bar a{
    font-size: 14px;
    font-weight:700;
    letter-spacing: 0.3px;
    color : #282c3f;
    padding:28px 0;
    border-bottom: 5px solid #ffffff;
    
}
.nav_men:hover {
   border-bottom: 4px solid #f54e77;
}
.nav_women:hover {
    border-bottom: 4px solid #e9c120;
 }
 .nav_kids:hover {
    border-bottom: 4px solid #48c64a;
 }
 .nav_home:hover {
    border-bottom: 4px solid #5733f7;
 }
 .nav_beauty:hover {
    border-bottom: 4px solid #00fbff;
 }
 .nav_studio:hover {
    border-bottom: 4px solid #ff0000;
 }
.nav_bar a sup{
    color: #ff3f6c;
    font-size: 8px;
}
.search_bar {
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #f5f5f6;
    border-radius: 4px;
}
.search_icon {
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
}
.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: 0;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*main portion*/

.banner_container {
    margin: 40px 0;
}
.banner_image {
    width: 100%;
   
}

.category_heading {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.5em;
    margin: 50px 0 10px 30px;
    max-height: 4em;
    font-weight: 700;
}

.category_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.child_items {
    width: 250px;
}
.child_items:hover{
    box-shadow: 5px 5px 10px rgba(87, 85, 85, 0.468);
}

.footer_container{
    padding :30px 0px 40px 0px;
    background:rgba(241, 241, 241, 0.934);
    display:flex;
    justify-content: space-evenly;
}
.footer_column{
    display:flex;
    flex-direction:column;
    
    
}

.footer_column a{
    color:#696b79;
    font-size:15px;
}
.footer_column h3{
    color:#282c3f;
    font-size:14px;
    margin-bottom: 25px;
}
.footer_column1 a{
   padding:5px;
   font-size:25px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding:15px;
}